<app-navbar></app-navbar>

<mat-grid-list cols="4"rowHeight="2.1:1.5">
    <mat-grid-tile *ngFor="let pokemon of pokeList">
        <app-card [Info]="pokemon"></app-card> 
    </mat-grid-tile>
    
  </mat-grid-list>

  <div class="btns">
    <button mat-fab color="primary"[disabled]="page === 0" (click)="prevPage()">
        <mat-icon>arrow_back_ios</mat-icon>
        </button>

    <button mat-fab color="warn" (click)="nextPage()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

